<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")

    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css' integrity='sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm' crossorigin='anonymous')
    link(rel="stylesheet", href="stylesheets/style.css")
    link(rel="stylesheet", href="https://unpkg.com/aos@2.3.1/dist/aos.css")

    script(src="https://unpkg.com/aos@2.3.1/dist/aos.js")
    script(src="https://unpkg.com/feather-icons")
    script(src="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.js")

    title Care Me - Cuidado profesional para tu familia
  body
    nav.navbar.navigation
      a(href="/").navbar-brand
        img(src="images/careme-night.png", alt="Care Me - Cuidado profesional para tu familia", srcset="").logo
      form(action="" method="method")
        button.btn.btn-main LLÁMANOS (55) 8916 5235
        button.btn.btn-accent WHATSAPP (55) 7832 1634
    
    .hero(style="background: var(--night)")
      .container
        .row
          .col-lg 
            .card 
              form
                h5 Datos de contacto
                input#name(type="text", name="name", placeholder="Nombre").input-text
                input#phone(type="phone", name="name", placeholder="Teléfono").input-text
                input#mail(type="mail", name="name", placeholder="Correo electrónico").input-text
                br
                br
                h5 Datos del paciente
                input#patient(type="text", name="name", placeholder="Nombre del paciente").input-text
                select#sex(name="sex").input-text 
                  option(disabled selected) Sexo del paciente
                  option(value="male") Hombre
                  option(value="male") Mujer
                  option(value="male") Prefiero no especificar
                select#sex(name="sex").input-text 
                  option(disabled selected) Edad del paciente
                  option(value="20") Menor de 20 años
                  option(value="35") Entre 20 y 35 años
                  option(value="50") Entre 36 y 50 años
                  option(value="65") Entre 51 y 65 años
                  option(value="99") Mayor a 65 años

                p.caption ¿Presenta alguna enfermedad en las vías respiratorias?
                label.item COVID 19
                  input#covid(type="checkbox", name="covid") 
                label.item Neumonía
                  input#neumonia(type="checkbox", name="neumonia") 

                p.caption ¿Padece alguna enfermedad crónico degenerativa?
                label.item Cáncer
                  input#covid(type="checkbox", name="covid") 
                label.item Diabetes
                  input#covid(type="checkbox", name="covid") 
                label.item Hipertensión
                  input#covid(type="checkbox", name="covid") 
                label.item Parkinson
                  input#covid(type="checkbox", name="covid") 
                label.item Alzheimer
                  input#covid(type="checkbox", name="covid") 
                label.item Deterioro mental
                  input#covid(type="checkbox", name="covid") 
                label.item Otro
                  input#covid(type="checkbox", name="covid") 

                p.caption ¿Requiere cuidados post operatiorios?
                label.item Cirugía
                  input#covid(type="checkbox", name="covid") 
                label.item Atención post parto
                  input#covid(type="checkbox", name="covid") 
                label.item Fracturas
                  input#covid(type="checkbox", name="covid") 
                br
                br
                h5 Datos del servicio
                p.caption Elige el tipo de atención que tu paciente requiere, cuidadores para atención básica y enfermeros para pacientes con necesidades médicas específicas.
                select#type(name="type").input-text 
                  option(disabled selected) Tipo de atención
                  option(value="enfermera") Enfermera
                  option(value="cuidador") Cuidadora
                  option(value="not-sure") Aún no estoy seguro
                br
                p.caption ¿Necesitas el servicio por una única ocación, por unas semanas o alguien de planta?
                select#recurrence(name="recurrence").input-text 
                  option(disabled selected) Recurrencia del servicio
                  option(value="one-time") Única ocasión
                  option(value="part-time") Por una o varias semanas
                  option(value="full-time") Alguien de planta
                
          .col-lg Adiós

    .footer
      .container
        .row
          div
            a(href="#")
              img(src="images/careme-light.png", alt="Care Me - Cuidado profesional para tu familia", srcset="").logo
            br
            br
            p Llámanos al 
              a(href="#") (55) 89 16 52 35
              |  o al 
              a(href="#") (55) 89 16 52 36
              | , o 
              a(href="#") escríbenos por whatsapp
              | .
            hr
            p © 199 Technologies, 2020. Todos los derechos reservados. 
              a(href="#") Aviso de privacidad 
              |  -  
              a(href="#") Términos y condiciones 
            p.social 
              a(href="#") 
                i(data-feather="facebook")
              |  
              a(href="#")
                i(data-feather="twitter")
              |  
              a(href="#")
                i(data-feather="instagram")

      script.
        feather.replace()

      script.
        AOS.init();

        

        