<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")

    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css' integrity='sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm' crossorigin='anonymous')
    link(rel="stylesheet", href="stylesheets/style.css")
    link(rel="stylesheet", href="https://unpkg.com/aos@2.3.1/dist/aos.css")

    script(src="https://unpkg.com/aos@2.3.1/dist/aos.js")
    script(src="https://unpkg.com/feather-icons")
    script(src="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.js")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js")
    script(src="javascripts/jquery.serialize-object.js") 

    title Care Me - Cuidado profesional para tu familia
  body
    nav.navbar.navigation
      a(href="/").navbar-brand
        img(src="images/careme-night.png", alt="Care Me - Cuidado profesional para tu familia", srcset="").logo
      form(action="" method="method")
        button.btn.btn-main LLÁMANOS (55) 8916 5235
        button.btn.btn-accent WHATSAPP (55) 7832 1634
    
    .hero(style="background: var(--night)")
      .container
        .row
          .col-lg 
            .card 
              form#contact
                h5 Datos de contacto

                input#name(type="text", name="user_name", placeholder="Nombre").input-text
                input#phone(type="phone", name="user_phone", placeholder="Teléfono").input-text
                input#mail(type="mail", name="user_mail", placeholder="Correo electrónico").input-text
                select#location(name="location" onchange="selectReader('location')").input-text 
                  option(disabled selected) Localidad donde necesitas el servicio
                  option(value="Alvaro Obregon") Álvaro Obregón
                  option(value="Azcapotzalco") Azcapotzalco
                  option(value="Benito Juarez") Benito Juárez
                  option(value="Coyoacan") Coyoacán 
                  option(value="Cuajimalpa") Cuajimalpa de Morelos
                  option(value="Cuauhtemoc") Cuauhtémoc
                  option(value="Gustavo A. Madero") Gustavo A. Madero
                  option(value="Iztacalco") Iztacalco
                  option(value="Iztapalapa") Iztapalapa
                  option(value="Magdalena Contreras") La Magdalena Contreras
                  option(value="Miguel Hidalgo") Miguel Hidalgo
                  option(value="Milpa Alta") Milpa Alta
                  option(value="Tlahuac") Tláhuac
                  option(value="Tlalpan") Tlalpan
                  option(value="Venustiano Carranza") Venustiano Carranza
                  option(value="Xochimilco") Xochimilco
                  option(disabled)  
                  option(value="Ecatepec") Ecatepec de Morelos
                  option(value="Naucalpan") Naucalpan
                  option(value="Nezahualcoyotl") Nezahualcóyotl
                  option(value="Chimalhuacan") Chimalhuacán 
                  option(value="Talnepantla") Tlalnepantla de Baz
                br
                br
                h5 Datos del paciente
                input#patient(type="text", name="patient_name", placeholder="Nombre del paciente").input-text
                select#sex(name="sex" onchange="selectReader('sex')").input-text 
                  option(disabled selected) Sexo del paciente
                  option(value="hombre") Hombre
                  option(value="mujer") Mujer
                  option(value="no-specified") Prefiero no especificar
                select#age(name="sex" onchange="selectReader('age')").input-text 
                  option(disabled selected) Edad del paciente
                  option(value="20") Menor de 20 años
                  option(value="35") Entre 20 y 35 años
                  option(value="50") Entre 36 y 50 años
                  option(value="65") Entre 51 y 65 años
                  option(value="99") Mayor a 65 años

                p.caption ¿Presenta alguna enfermedad en las vías respiratorias?

                input#respiratoryA(type='checkbox' name='respiratoryA')
                label(for='respiratoryA') COVID 19

                input#respiratoryB(type='checkbox' name='respiratoryB')
                label(for='respiratoryB') Neumonia

                p.caption ¿Padece alguna enfermedad crónico degenerativa?

                input#cronicA(type='checkbox' name='cronicA')
                label(for='cronicA') Cáncer

                input#cronicB(type='checkbox' name='cronicB')
                label(for='cronicB') Diabetes

                input#cronicC(type='checkbox' name='cronicC')
                label(for='cronicC') Hipertensión

                input#cronicD(type='checkbox' name='cronicD')
                label(for='cronicD') Parkinson

                input#cronicE(type='checkbox' name='cronicE')
                label(for='cronicE') Alzheimer

                input#cronicF(type='checkbox' name='cronicF')
                label(for='cronicF') Deterioro mental

                input#cronicG(type='checkbox' name='cronicG')
                label(for='cronicG') Otra

                p.caption ¿Requiere cuidados post operatiorios?
                
                input#surgeryA(type='checkbox' name='surgeryA')
                label(for='surgeryA') Atención post parto

                input#surgeryB(type='checkbox' name='surgeryB')
                label(for='surgeryB') Lesiones y fracturas

                input#surgeryC(type='checkbox' name='surgeryC')
                label(for='surgeryC') Cirugía general

                input#surgeryD(type='checkbox' name='surgeryD')
                label(for='surgeryD') Otra

                br
                br

                h5 Datos del servicio
                p.caption Elige el tipo de atención que tu paciente requiere, cuidadores para atención básica y enfermeros para pacientes con necesidades médicas específicas.
                select#type(name="type" onchange="selectReader('type')").input-text 
                  option(disabled selected) Tipo de atención
                  option(value="enfermera") Enfermera
                  option(value="cuidador") Cuidadora
                  option(value="not-sure") No estoy seguro
                br
                p.caption ¿Necesitas el servicio por una única ocación, por unas semanas o alguien de planta?
                select#recurrence(name="recurrence" onchange="selectReader('recurrence')").input-text 
                  option(disabled selected) Recurrencia del servicio
                  option(value="one-time") Única ocasión
                  option(value="part-time") Por una o dos semanas
                  option(value="full-time") Indefinido

                br
                br
                div 
                  input#location-field(type="text" name="user_location")
                  input#sex-field(type="text" name="patient_sex")
                  input#age-field(type="text" name="patient_age")
                  input#type-field(type="text" name="service_type")
                  input#recurrence-field(type="text" name="service_recurrence")

                input(type="button" value="Solicitar cotización" id="submit").btn.btn-main
                
          .col-lg Adiós

    .footer
      .container
        .row
          div
            a(href="#")
              img(src="images/careme-light.png", alt="Care Me - Cuidado profesional para tu familia", srcset="").logo
            br
            br
            p Llámanos al 
              a(href="#") (55) 89 16 52 35
              |  o al 
              a(href="#") (55) 89 16 52 36
              | , o 
              a(href="#") escríbenos por whatsapp
              | .
            hr
            p © 199 Technologies, 2020. Todos los derechos reservados. 
              a(href="#") Aviso de privacidad 
              |  -  
              a(href="#") Términos y condiciones 
            p.social 
              a(href="#") 
                i(data-feather="facebook")
              |  
              a(href="#")
                i(data-feather="twitter")
              |  
              a(href="#")
                i(data-feather="instagram")

      script.
        feather.replace()

      script.
        AOS.init();

      script.
        function selectReader(element) {
          var selection = document.getElementById(element);
          var strData = selection.value;
          console.log(strData);

          var target = element + "-field";
          console.log(target);

          document.getElementById(target).value = strData;
        }
      
      script.
        var $form = $('form#contact'),
        url = 'https://script.google.com/macros/s/AKfycbws9ayBizj2htjV2i_kHKRVwnU3H8EwqXf4jAisk3RTWd3ecWsfO3Gv_YyRvE9X1-9R/exec'
        
        $('#submit').on('click', function(e) {
          console.log("OK");
          e.preventDefault();
          var jqxhr = $.ajax({
            url: url,
            method: "GET",
            dataType: "json",
            data: $form.serializeObject()
          }).done();
          console.log(jqxhr);
          //window.location.replace('/success');
          $('.progress-bar').addClass('--processing');
          setTimeout(function(){
            //window.location.href = '/registered';
            console.log("Success");
          }, 1000);
        });

        

        