html 
  head
    link(href='stylesheets/style.css', rel='stylesheet')
  body
    .hero
      .nav
        div
          img(src="images/logo.png", alt="Care Me logo", class="logo")
        div
          span.phone (55) 8916 5235
          span.phone (55) 8915 5236
      .content 
        div
          h1.--text-dark(style="margin-top: 100px")
            | CUIDAMOS DE 
            br 
            | LOS TUYOS
          h5.--text-white Encuentra cuidadores y enfermeras al servicio de tu familia
          form(action="/contact")
            button(class="--btn-cta") Solicita una cotización
          button(class="--btn-ghost") Trabaja con nosotros
    div.pad-40
      h3.--text-dark ¿Qué servicios tenemos?
      .container
        div.row(style="background: pink")
          div.tile.pad-20 
            br
            br
            br
            br
            h4 Cuidadores
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          div.tile.pad-20
            br
            br
            br
            br
            h4 Enfermeras
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    
    div.pad-40.--bg-light.--align-center(style="padding-top: 120px; padding-bottom: 120px")
      h3.--text-dark Trabaja con nosotros
      p 
        | Si tienes experiencia en el cuidado de enfermos y adultos mayores, o si
        br
        | tienes educación en enferemería, te estamos buscando.
      br
      button.--btn-hv Hola mundo