html 
  head
    link(href='stylesheets/style.css', rel='stylesheet')
    title Careme - Cuidamos de los tuyos

    script.
      (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-PX8KRVH');
  body
    noscript
      iframe(src='https://www.googletagmanager.com/ns.html?id=GTM-PX8KRVH', height='0', width='0', style='display:none;visibility:hidden')
    .hero
      .nav
        div
          img(src="images/logo.png", alt="Care Me logo", class="logo")
        div
          span.phone (55) 8916 5235
          span.phone (55) 8915 5236
      .content 
        div
          h1.--text-dark(style="margin-top: 100px")
            | CUIDAMOS DE 
            br 
            | LOS TUYOS
          h5.--text-white Encuentra cuidadores y enfermeras al servicio de tu familia
          br
          form(action="/contact")
            button(class="--btn-cta")#button-cotizar Solicita tu cotización
    div.pad-40
      h3.--text-dark ¿Qué servicios tenemos?
      .container
        div.row(style="background: pink")
          div.tile.pad-20(style="background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(https://image.freepik.com/free-photo/old-man-caregiver-sitting-yellow-sofa_23-2148239007.jpg);") 
            br
            br
            br
            br
            h4 Cuidadores
            p Los cuidadores son personas responsables, evaluados y registrados para proporcionar cuidados generales a personas que no tengan requerimientos especiales.
          div.tile.pad-20(style="background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(https://envato-shoebox-0.imgix.net/5af0/4e85-412f-4e45-866f-2e3612416374/The+old+man_s+life+40_RE1.jpg?auto=compress%2Cformat&fit=max&mark=https%3A%2F%2Felements-assets.envato.com%2Fstatic%2Fwatermark2.png&markalign=center%2Cmiddle&markalpha=18&w=700&s=d119c9dd20572399a01c4054234481dd);") 
            br
            br
            br
            br
            h4 Enfermeras
            p Personal altamente capacitado, evaluado y con cédula profesional, dedicadas al cuidado de pacientes con enfermedades o condiciones crónicas que requieran atención personalizada.
    
    div.pad-40.--bg-light.--align-center(style="padding-top: 120px; padding-bottom: 120px")
      h3.--text-dark Trabaja con nosotros
      p 
        | Si tienes experiencia en el cuidado de enfermos y adultos mayores, o si
        br
        | tienes educación en enferemería, te estamos buscando.
      br
      form(action="https://www.caregiver.mx/registro")
        button.--btn-hv#button-keepers Regístrate ahora