<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name='description' content='Servicio de enfermería a domicilio en la Ciudad de México')
    meta(name='keywords' content='enfermería, domicilio, Cuidadora, post operatorio, operación, enfermera, cuidado')
    meta(name='author' content='199 Technologies')

    link(rel="icon" type="image/png" href="images/favicon.png")

    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css' integrity='sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm' crossorigin='anonymous')
    link(rel="stylesheet", href="stylesheets/style.css")
    link(rel="stylesheet", href="https://unpkg.com/aos@2.3.1/dist/aos.css")

    script(src="https://unpkg.com/aos@2.3.1/dist/aos.js")
    script(src="https://unpkg.com/feather-icons")
    script(src="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.js")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js")
    script(src="javascripts/jquery.serialize-object.js") 

    title Care Me - Cuidado profesional para tu familia
  body
    nav(style="background: var(--night)")
      .container 
        .row 
          .col 
            div(style="display: flex; justify-content: space-between")#logo
              a(href="/").navbar-brand
                img(src="images/careme-light.png", alt="Care Me - Cuidado profesional para tu familia", srcset="").logo
              div#menu
                a(href="").btn.btn-alt Llámanos
                a(href="").btn.btn-main Contacta por whatsapp 

    .hero.hero-home
      .container 
        .row 
          .col(style="display: flex; flex-direction: column; align-items: center")
            h1.center.text-light Cuidado profesional para tus seres queridos
            h6.center.text-light Compártenos tus datos y nos comunicaremos lo antes posible
            form(id="contact")
              .form-card
                input(type="text", placeholder="Nombre de contacto" name="user_name")
                input(type="text", placeholder="Teléfono", name="user_phone")
                input(type="text", placeholder="Correo", name="user_mail")
                input(type="button" value="Solicitar cotización" id="submit").btn.btn-main
              p.caption.txt-light.center
                | o si lo prefieres
                br
                br
                a(href="/contact").btn.btn-ghost-light  ver el formulario avanzado       

    section.bg-off-white
      .container 
        .row 
          .col.center 
            p ellos confían en nosotros
            br
            img(src="images/partners/tena.png", alt="")
            img(src="images/partners/bsn.png", alt="")

    .graphic 
      section 
        .container 
          .row.jump 
            .col 
              img(src="images/photos/caregivers-people.png", alt="alt")#examples
            .col 
              .point 
                .number(style="background: var(--ocean)") 1
                .info 
                  h5 Solicita información
                  p Compártenos tu información de contacto, en redes sociales, whatsapp o desde la plataforma; estamos para ayudarte a resolver todas tus dudas
              .point 
                .number(style="background: var(--teal)") 2
                .info 
                  h5 Espera la llamada
                  p Uno de nuestros expertos en enfermería te contactará para entender mejor tus necesidades, sìntomas y el diagnostico clínico que tu médico haya emitido
              .point 
                .number(style="background: var(--night)") 3
                .info 
                  h5 Recibe el servicio
                  p Uno de nuestros cuidadores o enfermeras se presentará en tu domicilio y te prestará el servicio que requieras con el profesionalismo que mereces
          .row 
            .col-lg 
              .review 
                .user 
                  .photo 
                    img(src="images/photos/old-lady.png", alt="")
                  .info 
                    h6 Name Last-name 
                    .caption Location
                .quote
                    p Gracias a Lupita puedo seguir cuidando a mi mamá aunque yo ya no tenga tantas fuerzas como cuando era más joven.
                .service
                    p Servicio de enfermera
                    .rate ★★★★★
            .col-lg
              .review 
                .user 
                  .photo 
                    img(src="images/photos/mature-man.png", alt="")
                  .info 
                    h6 Name Last-name 
                    .caption Location
                .quote
                    p Sólo estuve un par de semanas en cama por mi operación, pero si no fuera por doña Juana se habrían sentido como años.
                .service
                    p Servicio de enfermera
                    .rate ★★★★★
            .col-lg
              .review 
                .user 
                  .photo 
                    img(src="images/photos/young-mom.png", alt="")
                  .info 
                    h6 Name Last-name 
                    .caption Location
                .quote 
                    p Las últimas semanas de mi embarazó fueron dificilísimas y haber contratado una cuidadora me salvo de volverme loca.
                .service
                    p Servicio de cuidador
                    .rate ★★★★★

    .bg-off-white 
      .container 
        .row 
          .col-lg.center(style="overflow: hidden") 
            img(src="images/photos/caregiver-big.png", alt="")
          .col-lg(style="padding: 32px; display: flex; align-items: center") 
            div
              h3 Una comunidad segura
              p Cuidadores y enfermeras pasan por un estricto proceso de selección para poder prestar sus servicios en la plataforma. Al mismo tiempo que reciben beneficios constantes para asegurar la tranquilidad de todos los miembros de nuestra comunidad.
              ul 
                li Examen psicométrico
                li Examen de conocimientos técnicos
                li Revisión de documentación
      
    section.bg-dark
      .container 
        .row 
          .col.center.text-light 
            h3 Con cobertura en toda la Ciudad de México
              br
              | y Área Metropolitana
            br
            br
            img(src="images/photos/map.png", alt="")

    .contact-reel 
      a(href="").btn.btn-alt Llámanos
      a(href="").btn.btn-main Contacta por whatsapp 

    
    footer
      .container
        .row
          .col 
            a(href="/").navbar-brand
                img(src="images/careme-light.png", alt="Care Me - Cuidado profesional para tu familia", srcset="").logo
            br
            br
            ul 
              li 
                a(href="") Inicio
              li 
                a(href="") Formulario avanzado
              li 
                a(href="") Aviso de privacidad
              li 
                a(href="") Términos y condiciones
            ul 
              li 
                a(href="") Facebook
              li 
                a(href="") Twitter
              li 
                a(href="") Instagram
            ul 
              li Llámanos a los teléfonos 
              li 
                a(href="") (55) 89 16 52 35
              li 
                a(href="") (55) 89 16 52 36
            ul 
              li Escríbenos
              li 
                a(href="") Whatsapp
              li 
                a(href="") Correo electrónico
            p Hecho con 💙 en México
          
      script.
        feather.replace()

      script.
        AOS.init();

      script.
        var $form = $('form#contact'),
        url = 'https://script.google.com/macros/s/AKfycbws9ayBizj2htjV2i_kHKRVwnU3H8EwqXf4jAisk3RTWd3ecWsfO3Gv_YyRvE9X1-9R/exec'
        
        $('#submit').on('click', function(e) {
          console.log("OK");
          e.preventDefault();
          var jqxhr = $.ajax({
            url: url,
            method: "GET",
            dataType: "json",
            data: $form.serializeObject()
          }).done();
          console.log(jqxhr);
          //window.location.replace('/success');
          $('.progress-bar').addClass('--processing');
          setTimeout(function(){
            window.location.href = '/success';
            console.log("Success");
          }, 1000);
        });
      

        