@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital@1&display=swap');

:root {
  --ocean: #2EC0F9;
  --teal: #252154;
  --night: #5148AF;
  --mint: #BFF0D4;
  --purple: #776CF0;
  --success: #06D6A0;
  --warning: #FFE74C;
  --danger: #FF5964;
  --info: #26547C;
  --neutral-00: #141414;
  --neutral-25: #6B717E;
  --neutral-50: #B3B9C6;
  --neutral-75: #ECF0F1;
  --neutral-99: #FFFFFF;
}

body{
  font-family: 'Roboto', sans-serif;
}

nav{
  padding: 24px 0px;
}

section{
  padding: 80px 0px;
}

h1{
  font-size: 86px;
  font-weight: 700;
}

h2{
  font-size: 64px;
  font-weight: 700;
}

h3{
  font-size: 48px;
  font-weight: 600;
}

h4{
  font-size: 32px;
  font-weight: 600;
}

h5{
  font-size: 24px;
  font-weight: 600;
}

h6{
  font-size: 20px;
  font-weight: 600;
}

.quote{
  font-family: 'PT Serif', serif;
  font-size: 24px;
}

body{
  font-size: 16px;
  font-weight: 400;
}

.caption{
  font-size: 14px;
}

.small{
  font-size: 12px;
}

.logo{
  width: 120px;
}

.txt-light{
  color: #ECF0F1;
}

.center{
  text-align: center;
}

.sticky{
  position: -webkit-sticky;
  position: sticky;
}

hr{
  border-color: var(--mint);
  border-width: 8px;
  border-block-end: #53BDF9;
  width: 30%;
  margin-left: 0px;
}

.btn{
  border-radius: 8px;
  margin: 4px 4px;
  padding: 12px 24px;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  transition: 300ms ease all;
}

.btn-main{
  background: var(--ocean);
  color: var(--neutral-99);
}

.btn-main:hover{
  background: #24A7DA;
  color: white;
}

.btn-alt{
  background: var(--purple);
  color: var(--neutral-99);
}

.btn-alt:hover{
  background: #7168CF;
  color: white;
}

.btn-ghost{
  border: 3px solid var(--neutral-00);
  color: var(--neutral-00);
}

.btn-ghost-light{
  border: 3px solid var(--neutral-99);
  color: var(--neutral-99);
}

.btn-ghost-light:hover{
  color: var(--night);
  background: var(--neutral-99);
}

.text-light{
  color: var(--neutral-99)
}

.hero{
  padding-top: 60px;
  padding-bottom: 60px;
  display: flex;
  flex-direction: column;
  background: var(--night);
}

.hero-home{
  background: var(--night);
  background-image: url('/images/photos/caregiver-hero.png');
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: auto 100%;
  -moz-background-size: auto 100%;
  -o-background-size: auto 100%;
  background-size: auto 100%;
  background-position-y: bottom;
  padding-top: 260px;
  padding-bottom: 60px;
}

/* .hero h1, .hero h6, .hero p{
  color: var(--neutral-99);
} */

.form-card{
  background: white;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
  display: inline-block;
  margin: 32px 0px;
  padding: 8px;
  padding-right: 2px;
  border-radius: 12px;
}

.form-card input{
  margin: 4px 12px;
  border: none;
  outline: none;
}

.bg-off-white{
  background: var(--neutral-75);
}

.bg-alt{
  background: var(--night);
}

.bg-brand{
  background: var(--ocean);
}

.bg-dark{
  background: var(--teal);
}

.jump{
  margin-bottom: 100px;
}

.navigation{
  background-color: var(--ocean);
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.16);
  padding-left: 5%;
  padding-right: 5%;
  position: fixed;
  width: 100%;
  z-index: 90;
}

.floating input{
  margin: 4px 12px;
  border: none;
  outline: none;
}

.opinions{
  background: var(--teal);
  display: flex;
  justify-content: center;
  padding: 64px 0px;
  color: white;
}

.opinion{
  display: flex;
  align-items: center;
}

.opinion .photo{
  height: 160px;
  width: 160px;
  border-radius: 100%;
  overflow: hidden;
  margin-right: 32px;
}

.photo img{
  width: 100%;
}

.opinion .text{
  width: 400px;
}

.step-text{
  display: flex;
  align-items: center;
}

.step-photo{
  text-align: center;
}

footer{
  background: var(--neutral-00);
  color: var(--neutral-25);
  padding: 64px 0px;
  font-size: 12px;
}

footer a{
  color: var(--neutral-25);
  font-weight: bold;
}

footer ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  margin-bottom: 8px;
}

footer li{
  margin-right: 24px;
}

.chirp-list{
  display: flex;
  flex-wrap: wrap;
  margin: 16px 0px;
}

.chirp{
  padding: 8px 16px;
  background: var(--neutral-99);
  border-radius: 8px;
  margin: 8px 16px 8px 0px;
  transition: 350ms ease all;
}

.chirp:hover{
  background: var(--night);
  color: var(--neutral-99);
}

.card{
  background: white;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
  padding: 32px;
}

.card-success{
  display: flex;
  align-items: center;
  justify-content: center;
}

.input-text{
  background: var(--neutral-75);
  border-radius: 0px;
  padding: 8px 16px;
  border: none;
  margin-bottom: 16px;
  margin-right: 16px;
  width: 100%;
}

.item{
  background: red;
  padding: 8px;
  margin: 0px 16px 16px 0px;
  border-radius: 4px;
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

input[type=checkbox] + label {
  color: var(--neutral-25);
  background: var(--neutral-75);
  padding: 8px 16px;
  margin-right: 16px;
  margin-bottom: 16px;
  border-radius: 4px;
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
  transition: 300ms ease all;
} 

input[type=checkbox]:checked + label {
  background: linear-gradient(180deg, #FE5F55 0%, #F06C9B 100%);
  box-shadow: inset 0px 4px 12px rgba(0, 0, 0, 0.25);
  color: var(--neutral-99);
} 

input[type=checkbox]{
  display: none;
}

.point{
  display: flex;
  margin-bottom: 32px;
}

.point .number{
  font-size: 40px;
  font-weight: 600;
  border-radius: 50%;
  min-width: 64px;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 24px;
  margin-bottom: 24px;
  color: var(--neutral-99);
}

.review{
  background: var(--teal);
  padding: 24px;
  color: white;
  border-radius: 8px;
  margin-bottom: 24px;
}

.review .user{
  display: flex;
  align-items: center;
}

.review .photo{
  width: 64px;
  height: 64px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 12px;
  margin-bottom: 12px;
}

.contact-reel{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: var(--teal);
  color: white;
  text-align: center;
  padding: 16px;
  z-index: 100;
  display: none;
}

@media (max-width: 700px) {
  nav #menu{
    display: none;
  }

  nav{
    display: flex;
    align-items: center;
  }

  .hero-home{
    padding-top: 100px;
    background: var(--night);
    /* background-image: url('/images/photos/caregiver-hero.png'); */
  }

  .hero-home h1{
    font-size: 54px;
  }

  .form-card{
    text-align: center;
    padding-top: 16px;
    padding-bottom: 8px;
  }

  .form-card input{
    width: 90%;
    margin-bottom: 16px;
  }

  .contact-reel{
    display: block;
  }

  #examples{
    width: 300px;
    margin-bottom: 48px;
  }
}
