@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital@1&display=swap');

:root {
  --ocean: #53BDF9;
  --teal: #087CBF;
  --night: #344966;
  --mint: #BFF0D4;
  --success: #09BC8A;
  --warning: #E9D758;
  --danger: #FE5F55;
  --info: #F06C9B;
  --neutral-00: #141414;
  --neutral-25: #6B717E;
  --neutral-50: #B3B9C6;
  --neutral-75: #ECF0F1;
  --neutral-99: #FFFFFF;
}

body{
  font-family: 'Roboto', sans-serif;
}

h1{
  font-size: 86px;
  font-weight: 700;
}

h2{
  font-size: 64px;
  font-weight: 700;
}

h3{
  font-size: 48px;
  font-weight: 600;
}

h4{
  font-size: 32px;
  font-weight: 600;
}

h5{
  font-size: 24px;
  font-weight: 600;
}

h6{
  font-size: 20px;
  font-weight: 600;
}

.quote{
  font-family: 'PT Serif', serif;
  font-size: 24px;
}

body{
  font-size: 16px;
  font-weight: 400;
}

.caption{
  font-size: 14px;
}

.small{
  font-size: 12px;
}

.logo{
  width: 120px;
}

.txt-light{
  color: #ECF0F1;
}

.btn{
  border-radius: 0px;
  margin: 4px 4px;
  padding: 14px 32px;
  font-size: 12px;
  font-weight: bold;
}

hr{
  border-color: var(--mint);
  border-width: 8px;
  border-block-end: #53BDF9;
  width: 30%;
  margin-left: 0px;
}

.btn-main{
  background: var(--ocean);
  color: var(--neutral-99);
}

.btn-dark{
  background: var(--night);
  color: var(--neutral-99);
}

.btn-accent{
  background: var(--mint);
}

.section{
  padding-top: 120px;
  padding-bottom: 120px;
}

.jump{
  margin-bottom: 100px;
}

.navigation{
  background-color: var(--ocean);
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.16);
  padding-left: 5%;
  padding-right: 5%;
  position: fixed;
  width: 100%;
  z-index: 90;
}

.hero{
  padding-top: 120px;
  padding-bottom: 120px;
}

.floating{
  background: white;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
  display: inline-block;
}

.floating input{
  margin: 4px 12px;
  border: none;
  outline: none;
}

.opinions{
  background: var(--teal);
  display: flex;
  justify-content: center;
  padding: 64px 0px;
  color: white;
}

.opinion{
  display: flex;
  align-items: center;
}

.opinion .photo{
  height: 160px;
  width: 160px;
  border-radius: 100%;
  overflow: hidden;
  margin-right: 32px;
}

.photo img{
  width: 100%;
}

.opinion .text{
  width: 400px;
}

.step-text{
  display: flex;
  align-items: center;
}

.step-photo{
  text-align: center;
}

.footer{
  background: var(--neutral-00);
  color: var(--neutral-25);
  padding: 64px 0px;
  font-size: 12px;
}

.footer hr{
  border-color: var(--neutral-25);
  border-width: 1px;
  width: 70%;
  margin-left: 0px;
}

.footer a{
  color: var(--neutral-25);
  font-weight: bold;
}

.social a{
  color: var(--ocean);
  margin-right: 20px;
}

.chirp-list{
  display: flex;
  flex-wrap: wrap;
  margin: 16px 0px;
}

.chirp{
  padding: 8px 16px;
  background: var(--neutral-99);
  border-radius: 8px;
  margin: 8px 16px 8px 0px;
  transition: 350ms ease all;
}

.chirp:hover{
  background: var(--night);
  color: var(--neutral-99);
}

.card{
  background: white;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
  padding: 32px;
}

.input-text{
  background: var(--neutral-75);
  border-radius: 0px;
  padding: 8px 16px;
  border: none;
  margin-bottom: 16px;
  margin-right: 16px;
  width: 100%;
}

.item{
  background: red;
  padding: 8px;
  margin: 0px 16px 16px 0px;
  border-radius: 4px;
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}